# DAY-2 (7-05-23)

In [2]:
print(help('keywords'))

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

In [3]:
#variables
A=3
print(A)

3

In [4]:
#implicit type conversion
b=50
print(type(b))
c=5.5
print(type(c))

<class 'int'>
<class 'float'>

In [5]:
#complex=real no+imaginary no
d=1+2j
print(type(d))
print(d)

<class 'complex'>
(1+2j)

In [6]:
#string=collection of charecters enclosed within a single,double or triple quotation
e='comment'
print(e)
print(type(e))

comment
<class 'str'>

In [7]:
f=2
print(float(f))
print(complex(f))

2.0
(2+0j)

# DAY-3(02-06-2023)

In [8]:
#data typing
#mutable data typing
#list
g=[]
print(g)
print(type(g))

[]
<class 'list'>

In [9]:
#append=we can add only one element @ a time
g.append(5)
print(g)

[5]

In [10]:
#extend-add more element @ a time
g.extend([1,2,3,4,6])
print(g)

[5, 1, 2, 3, 4, 6]

In [11]:
g=[1,2,3,4,5,6,7.8,9+1j,8,7]
print(g)
print(len(g))
print(g.count(7))

[1, 2, 3, 4, 5, 6, 7.8, (9+1j), 8, 7]
10
1

In [12]:
g=[1,2,3,4,5,6,7.8,9+1j,8,7,7]
print(g.count(7))

2

In [13]:
#insert-inbetween add element
g=[1,2,3,4,5,6,7.8,9+1j,8,7,7]
g.insert(5,50)
print(g)

[1, 2, 3, 4, 5, 50, 6, 7.8, (9+1j), 8, 7, 7]

In [14]:
#replacing the list element
g=[1,2,3,4,5,6,7.8,9+1j,8,7,7]
g[3]=24
print(g)

[1, 2, 3, 24, 5, 6, 7.8, (9+1j), 8, 7, 7]

In [15]:
#identify index
g=[1,2,3,4,5,6,7.8,9+1j,8,7,7]
print(g.index(8))

8

In [16]:
#sum, max , min
g=[1,2,3,4,5,6,7.8,8,7,7]
print(max(g))
print(min(g))
g=[1,2,3,4,5,6,7.8,8,7,7]
print(sum(g))

8
1
50.8

In [17]:
#sort-ascending result
g=[1,2,3,4,5,6,7.8,8,7,7]
g.sort()
print(g)
g.reverse()
print(g)

[1, 2, 3, 4, 5, 6, 7, 7, 7.8, 8]
[8, 7.8, 7, 7, 6, 5, 4, 3, 2, 1]

# DAY-4(04-06-2023)

In [18]:
#list-string
fruits=['apple','mamgo','banana','orangr','grapes']
print(fruits)
print(type(fruits))
print(len(fruits))
fruits=['apple','mango','banana','orangr','mango','grapes']
fruits.append('watermelon')
print(fruits)
print(fruits.count('mango'))
fruits=['apple','mango','banana','orangr','mango','grapes']
print(max(fruits))
print(min(fruits))

['apple', 'mamgo', 'banana', 'orangr', 'grapes']
<class 'list'>
5
['apple', 'mango', 'banana', 'orangr', 'mango', 'grapes', 'watermelon']
2
orangr
apple

# DAY-5 (10-06-2023)

In [19]:
#list
h=[1,2,3,6,78,99,77,77,95]
print(h)

[1, 2, 3, 6, 78, 99, 77, 77, 95]

In [20]:
#copy
hi=h.copy()
print(hi)
h.append(93)
print(h)

[1, 2, 3, 6, 78, 99, 77, 77, 95]
[1, 2, 3, 6, 78, 99, 77, 77, 95, 93]

In [21]:
#how to access the list element-using index position
h=[1, 2, 3, 6, 78, 99, 77, 77, 95, 93]
print(h[7])
print(h[-3])

77
77

In [22]:
#slicing-[start value:end value(n-1)]
h=[1, 2, 3, 6, 78, 99, 77, 77, 95, 93]
print(h[0:3])
print(h[:9])
print(h[7:])
h=[1, 2, 3, 6, 78, 99, 77, 77, 95, 93]

[1, 2, 3]
[1, 2, 3, 6, 78, 99, 77, 77, 95]
[77, 95, 93]

In [23]:
#[start value:end value(n-1):step value]
print(h[3:10:3])
print(h[:-2])

[6, 77, 93]
[1, 2, 3, 6, 78, 99, 77, 77]

In [24]:
#reverse order of execution
print(h[::-1])

[93, 95, 77, 77, 99, 78, 6, 3, 2, 1]

In [25]:
#how to delete the list element
h=[1, 2, 3, 6, 78, 99, 77, 77, 95, 93]
del h[2]
print(h)

[1, 2, 6, 78, 99, 77, 77, 95, 93]

In [26]:
#stack- push and pop method
#last in first out
h=[1, 2, 3, 6, 78, 99, 77, 77, 95, 93]
h.pop()
print(h)
h.pop(7)
print(h)
h.remove(78)
print(h)
h.clear()
print(h)

[1, 2, 3, 6, 78, 99, 77, 77, 95]
[1, 2, 3, 6, 78, 99, 77, 95]
[1, 2, 3, 6, 99, 77, 95]
[]

In [29]:
#nested list-list inside another list
h=[20,30,40,50]
print(h)
h.append([60,70,80,90,100])
print(h)
print(h[4])
print(h[4][2])

[20, 30, 40, 50]
[20, 30, 40, 50, [60, 70, 80, 90, 100]]
[60, 70, 80, 90, 100]
80

# DAY-6 (11-06-2023)

In [30]:
#Dictionary-mutable data type
#{key-value}-item
d={'name':'Lavanya Sree','ID':8323,'age':20,'degree':'BSc AZB'}
print(d)
print(type(d))

{'name': 'Lavanya Sree', 'ID': 8323, 'age': 20, 'degree': 'BSc AZB'}
<class 'dict'>

In [31]:
#how to access the value-using key
print(d['name'])
d['native']='chennai'
print(d)
d={}
print(type(d))
d['name']='Lavanya Sree'
print(d)
print(d.update({'ID':8323,'age':20,'degree':'BSc AZB','native':'chennai'}))
print(d)
print(d.keys())
print(d.values())
print(d.items())
d={'name': 'Lavanya Sree', 'ID': 8323, 'age': 20, 'degree': 'BSc AZB', 'native': 'chennai'}
print('my name is:',d['name'])
print('i have completed',d.get('degree'))

Lavanya Sree
{'name': 'Lavanya Sree', 'ID': 8323, 'age': 20, 'degree': 'BSc AZB', 'native': 'chennai'}
<class 'dict'>
{'name': 'Lavanya Sree'}
None
{'name': 'Lavanya Sree', 'ID': 8323, 'age': 20, 'degree': 'BSc AZB', 'native': 'chennai'}
dict_keys(['name', 'ID', 'age', 'degree', 'native'])
dict_values(['Lavanya Sree', 8323, 20, 'BSc AZB', 'chennai'])
dict_items([('name', 'Lavanya Sree'), ('ID', 8323), ('age', 20), ('degree', 'BSc AZB'), ('native', 'chennai')])
my name is: Lavanya Sree
i have completed BSc AZB

In [32]:
#how to delete dictionary element
del d['ID']
print(d)
d.pop('age')
print(d)
d.clear()
print(d)
d={'name': 'Lavanya Sree', 'ID': 8323, 'age': 20, 'degree': 'BSc AZB', 'native': 'chennai'}
print(len(d))

{'name': 'Lavanya Sree', 'age': 20, 'degree': 'BSc AZB', 'native': 'chennai'}
{'name': 'Lavanya Sree', 'degree': 'BSc AZB', 'native': 'chennai'}
{}
5

In [33]:
#set-within curly braces,NO duplicate value allowed
s=set()# empty set decleration
print(s)
print(type(s))

set()
<class 'set'>

In [34]:
#Add- we can add only one element at a time
s.add(7)
print(s)
s.update({1,5,6,3,'L',9})
print(s)
p={7,12,13,14,25}
print(p)
print(len(p))
print(sum(p))
print(max(p))
print(min(p))

{7}
{1, 3, 5, 6, 7, 9, 'L'}
{7, 25, 12, 13, 14}
5
71
25
7

In [35]:
#union(|)
print(s|p)
#difference(-)
print(s-p)
#intersection(&)
print(s&p)
#symmetric_difference(^)
print(s^p)
#how to delete the set element
#NO del is used
s={1, 'L', 3, 5, 6, 7, 9}
p={7,12,13,14,25}

{1, 3, 5, 6, 7, 9, 12, 13, 14, 25, 'L'}
{1, 3, 5, 6, 9, 'L'}
{7}
{1, 3, 5, 6, 9, 12, 13, 14, 25, 'L'}

In [36]:
s={1, 'L', 3, 5, 6, 7, 9}
s.pop()
print(s)
s.remove(9)
print(s)
s.clear()
print(s)

{3, 5, 6, 7, 9, 'L'}
{3, 5, 6, 7, 'L'}
set()

# DAY-7(17-06-2023)

In [38]:
#immutable data type
#tuple-store immutable dsta type within a curve bracket().NO duplicate is allowed
t=(10,20,30,50,70,77,95)
print(t)
print(type(t))

(10, 20, 30, 50, 70, 77, 95)
<class 'tuple'>

In [39]:
#how to access the tuple element-using index position
t=(10,20,30,50,70,70,77,95)
print(t[2])
print(len(t))
print(t.count(70))
print(t.index(50))
print(sum(t))
print(max(t))
print(min(t))

30
8
2
3
422
95
10

In [40]:
#concatenation(-,+)
t=(10,20,30,50,70,70,77,95)
t1=t+(99,89,99,100,97)
print(t1)

(10, 20, 30, 50, 70, 70, 77, 95, 99, 89, 99, 100, 97)

In [41]:
# how to access the tuple element-using index position
print(t[7])
print(t[-3])

95
70

In [2]:
#slicing-pop
t=(10,20,30,50,70,70,77,95)
print(t[0:7])
print(t[:5])
print(t[7:])
print(t[::-1])
print(t[:-3])
print(t[1:9:2])

(10, 20, 30, 50, 70, 70, 77)
(10, 20, 30, 50, 70)
(95,)
(95, 77, 70, 70, 50, 30, 20, 10)
(10, 20, 30, 50, 70)
(20, 50, 70, 95)

In [43]:
#string-immutable data type
#collection of charecters surrounded by quotations(1,2,3)
s='Lavanya Sree'
print(s)
print(type(s))
s1=' Pellakuri'
print('combaining the string:',s+s1)

Lavanya Sree
<class 'str'>
combaining the string: Lavanya Sree Pellakuri

In [44]:
#string-space is also a charecter
s='Lavanya Sree'
print(s.upper())
s='LAVANYA SREE'
print(s.isupper())
print(s.islower())

LAVANYA SREE
True
False

In [45]:
#title- each word starting letter turn capital
s='Lavanya sree'
print(s.title())
s='Lavanya Sree'
print(s.istitle())
s='Lavanya Sree'
print(s)

Lavanya Sree
True
Lavanya Sree

In [46]:
print(max(s))
print(min(s))
print(type(s))
print(len(s))
print(s.count('a'))
print(s.index('n'))
print(s[7])

y

<class 'str'>
12
3
4

In [47]:
#slicing-pop
s='Lavanya Sree'
print(s[5:-1])
print(s[:-5])
print(s[3:])
print(s[0:7])
print(s[::-1])

ya Sre
Lavanya
anya Sree
Lavanya
eerS aynavaL

In [48]:
# center,rjust(right),ljust(left)
s='Lavanya Sree'
print(s.center(25,'#'))
print(s.center(17,'#'))
print(s.rjust(18,'%'))
print(s.ljust(27,'!'))
print(s.startswith('L'))
print(s.endswith('e'))
print(s.endswith('E'))

#######Lavanya Sree######
###Lavanya Sree##
%%%%%%Lavanya Sree
Lavanya Sree!!!!!!!!!!!!!!!
True
True
False

In [49]:
#join
s='a','s','d','f','g'
print(''.join(s))
s='j,k,l'
print(s.split(','))

asdfg
['j', 'k', 'l']

In [50]:
#ASCII-American Standard Code Information Interchange
#small letter-high value
#capital letter-low value
#space is also a cherecter - lowest value
# from letter to find number(ord is key)
#from number to find letter (chr is key)

In [51]:
print(ord('l'))
print(ord('S'))
print(ord('J'))
print(ord('K'))
print(ord('k'))
print(ord('j'))
print(ord('L'))
print(chr(100))
print(chr(50))
print(chr(70))
print(chr(170))
print(chr(1000))
print(chr(190))
print(chr(45))
print(chr(11))
print(chr(77))

108
83
74
75
107
106
76
d
2
F
ª
Ϩ
¾
-


M

In [52]:
s='Lavanya Sree'
print(s[1:7])
print(s[:10])
print(s[:-5])
print(s[7:])
print(s[-3:])
print(s[::-1])
print(s.upper())
print(s.istitle())

avanya
Lavanya Sr
Lavanya
 Sree
ree
eerS aynavaL
LAVANYA SREE
True

# DAY -8 (18-06-2023)

In [28]:
#DAY-6 (11-06-2023)

#Dictionary-mutable data type
#{key-value}
d={'name':'Lavanya Sree','ID':8323,'age':20,'degree':'BSc AZB'}
print(d)
print(type(d))

{'name': 'Lavanya Sree', 'ID': 8323, 'age': 20, 'degree': 'BSc AZB'}
<class 'dict'>

In [54]:
#input output function
name =input('enter your name:')
degree=input('enter your degree:')
print('my name is',name,'have completed',degree)
name =input('enter your name:')
degree=input('enter your degree:')
age=input('enter your age:')
native=input('enter your native:')
ID= input('enter your ID:')
gender=input('enter your gender:')
phoneNo=input('enter your phone no:')
print('my name is',name,'from',native,'I am',age,'years old',gender,'I have completed',degree,'my ID is',ID,'my phone no is',phoneNo)
#string formatting(f)in {}
print(f'my name is {name} from {native} I am {age} years old {gender} T have completed {degree} my ID is {ID} my phone no is {phoneNo}')

enter your name:Lavanya Sree P
enter your degree:BSc
my name is Lavanya Sree P have completed BSc
enter your name:Lavanya Sree P
enter your degree:BSc AZB
enter your age:18
enter your native:Chennai
enter your ID:8323
enter your gender:female
enter your phone no:6374929393
my name is Lavanya Sree P from Chennai I am 18 years old female I have completed BSc AZB my ID is 8323 my phone no is 6374929393
my name is Lavanya Sree P from Chennai I am 18 years old female T have completed BSc AZB my ID is 8323 my phone no is 6374929393

In [55]:
x=input('enter your number x:')
y=input('enter your number y:')
print('the value of {} and {}'.format(x,y))
print(f'the value of {x} and {y} is {x+y}')
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
print(f'the value of {x} and {y} is {x+y}')

enter your number x:5
enter your number y:7
the value of 5 and 7
the value of 5 and 7 is 57
enter your number x:5
enter your number y:7
the value of 5 and 7 is 12

In [56]:
# Operations in python
# ARITHMETIC OPERATION(+,-,*,/,//- floor division(no decimel included in ans),%- modulus(remainder value is ans),**-exponential(x power y,power value calculated))
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
print(x+y)
print(x-y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

enter your number x:50
enter your number y:5
55
45
10.0
10
0
312500000

# DAY-9(24-06-2023)

In [58]:
#Assignment Operator-should put =before signs (=+,=-,=*,=**,=/,=//)
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
z=int (input('enter your number z:'))
z=x+y
print('the value of z is:',z)
z+=x #z=z+x
print('the value of z is:',z)
z-=y #z=z-x
print('the value of z is:',z)

enter your number x:55
enter your number y:77
enter your number z:57
the value of z is: 132
the value of z is: 187
the value of z is: 110

In [59]:
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
z=int (input('enter your number z:'))
z*=x #z=z*x
print('the value of z is:',z)
z*=y #z=z*y
print('the value of z is:',z)

enter your number x:55
enter your number y:77
enter your number z:75
the value of z is: 4125
the value of z is: 317625

In [60]:
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
z=int (input('enter your number z:'))
z/=x #z=z/x
print('the value of z is:',z)
z/=y #z=z/y
print('the value of z is:',z)

enter your number x:50
enter your number y:10
enter your number z:5
the value of z is: 0.1
the value of z is: 0.01

In [61]:
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
z=int (input('enter your number z:'))
z//=x #z=z//x
print('the value of z is:',z)
z//=y #z=z//y
print('the value of z is:',z)

enter your number x:5
enter your number y:7
enter your number z:4
the value of z is: 0
the value of z is: 0

In [62]:
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
z=int (input('enter your number z:'))
z%=x #z=z%x
print('the value of z is:',z)
z%=y #z=z%y
print('the value of z is:',z)

enter your number x:50
enter your number y:70
enter your number z:5
the value of z is: 5
the value of z is: 5

In [64]:
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
z=int (input('enter your number z:'))
z**=x #z=z**x
print('the value of z is:',z)
z**=y #z=z**y
print('the value of z is:',z)

enter your number x:5
enter your number y:3
enter your number z:2
the value of z is: 32
the value of z is: 32768

In [65]:
#COMPARISON OPERATOR- ==-Equal,!=-not equal,<-less than,<=-less than or equal,>-greater than,>=-greater than or equal,
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
print(x==y)
print(x!=y)
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)

enter your number x:50
enter your number y:70
False
True
True
True
False
False

In [66]:
#LOGICAL OPERATOR- AND(both satisfy),OR(any one satisfy)
x=int (input('enter your number x:'))
y=int (input('enter your number y:'))
print(x==y and x!=y)
print(x==y or x!=y)
print(x<y and x<=y)
print(x<y or x<=y)
print(x>y and x>=y)
print(x>y or x>=y)

enter your number x:50
enter your number y:70
False
True
True
True
False
False

In [ ]:
#BITWISE OPERATOR(1 0)-AND(&),OR(|),NOT(-),EX-OR(^)
Number System
Binary(0b)(bin)-2
Octal-8
Decimal-10
Hexa Decimal-16
2,8,10,16-Base value

In [68]:
#CONVERT TO BINARY
print(bin(7))
print(bin(70))
print(bin(50))
print(bin(5))
print(bin(57))

0b111
0b1000110
0b110010
0b101
0b111001

In [69]:
x=5
y=7
print('AND value is:',x&y)
print('OR value is:',x|y)
print('EX-OR value is:',x^y)
#NOT- tilde(~)
x=5
print('NOT value is:',~x)
y=-7
print('NOT value is:',~y)

AND value is: 5
OR value is: 7
EX-OR value is: 2
NOT value is: -6
NOT value is: 6

# DAY-10 (25-06-2023)

In [71]:
#MEMBERSHIP OPERATOR-in, not in (list)
l=['Lavanya sree','List','Set']
print('Lavanya sree' in l)
print('Lavanya Sree' in l)
print('Set'not in l)

True
False
False

In [72]:
#IDENTITY OPERATOR-is , is not
a=5
b=7
e=7
print(a is e)
print(id(e))
print(a is b)
print(a is not b)
print(id(a))
print(id(b))

False
140728243819496
False
True
140728243819432
140728243819496

In [73]:
c=[1,2,3]
d=[1,2,3]
print(c is d)
print(id(c))
print(c is not d)
print(id(d))

False
2321671965568
True
2321688790656

In [ ]:
# PROGRAM CONTROL FLOW
#if statement
syntax:
    body of the statement
    space in before

In [7]:
#program to check whether the given value is odd or even
n=int(input('enter your number:'))
if n%2==0:
    print(n,'is a even number')

enter your number:76
76 is a even number

In [75]:
#if else statement
n=int(input('enter your number:'))
if n%2==0:
        print(n,'is a even number')
else:
    print(n,'is a odd number')

enter your number:7
7 is a odd number

In [8]:
#voting system program -age-above 18 eligible to vote
age=int(input('enter your age:'))
if age>=18:
    print(age,'is eligible')
else:
    print(age,'is not eligible')

enter your age:20
20 is eligible

In [5]:
#to find the given year is leap year or not
year=int(input('enter the year:'))
if year%4==0:
    print(year,'is leap year')
else:
    print(year,'is not leap year')

enter the year:2003
2003 is not leap year

In [78]:
#palindrome of a given number or string
n=str(input('enter the string:'))
if n==n[::-1]:
    print(n,'is palindrome')
else:
    print(n,'is not palindrome')

enter the string:'OPPO'
'OPPO' is palindrome

In [79]:
n=str(input('enter the number:'))
if n==n[::-1]:
    print(n,'is palindrome')
else:
    print(n,'is not palindrome')

enter the number:'1001'
'1001' is palindrome

In [80]:
#find the greater of two

a=int(input('enter number a:'))
b=int(input('enter number b:'))
print('greater than is:',b>a)
print('greater than equal to:',b>=a)

enter number a:5
enter number b:7
greater than is: True
greater than equal to: True

In [81]:
#find the lesser of two

a=int(input('enter number a:'))
b=int(input('enter number b:'))
print('less than is:',b<a)
print('less than equal to:',a<=b)

enter number a:5
enter number b:7
less than is: False
less than equal to: True

In [82]:
#find the particular charecter is vowel or not
v=input('enter the word:')
if (v=='a'or v=='e' or v=='i' or v=='o' or v=='u'):
    print(v,'is vowel')
elif (v=='A' or v=='E' or v=='I' or v=='O' or v=='U'):
    print(v,'is vowel')
else:
    print(v,'is not vowel')

enter the word:O
O is vowel

In [83]:
#find the particular charecter is a alphabet upper case or lower case or number

a=input('enter the charecter:')
if (a>='A' and a<='Z'):
    print(a,'is uppercase alphabet')
elif (a>='a' and a<='z'):
    print(a,'is lowercase alphabet')
elif (a>='0' and a<='9'):
    print(a,'is number')

enter the charecter:J
J is uppercase alphabet

In [84]:
#count vowels in a string using python string of vowels
vowels='aeiou'
#enter an input string
user_input=input('enter the string:')
#convert string in case insensitive
string=user_input.casefold()
#create a dictionary with each vowel a key and value 0
count_vowels={}.fromkeys(vowels, 0)
#count the number of each vowels
for x in string:
    if x in count_vowels:
        count_vowels[x]+= 1
print('total number of vowels -',count_vowels)

enter the string:Lavanya Sree P
total number of vowels - {'a': 3, 'e': 2, 'i': 0, 'o': 0, 'u': 0}

# DAY-11 (01-07-2023)

In [9]:
#If elif else statement

#python program to check whether the given number is positive or not
n=int(input('enter the number'))
if n>0:
    print(n,'is a positive number')
elif n==0:
    print(n,'is zero')
else:
    print(n,'is nrgative number')

enter the number7
7 is a positive number

In [10]:
#nested if - condition inside another condition
#python program to check whether the given number is positive or not
n=int(input('enter the number:'))
if n>=0:
    if n==0:
        print(n,'is zero')
    else:
         print(n,'is positive')
else:
     print(n,'is negative')

enter the number:0
0 is zero

In [ ]:
#looping - it will execute in sequential order
# For loop
#syntax:
for variable name in iteration:
    body of the statement

In [12]:
li=[11.7,45,78,90,84,72]
for i in li:
    print(i)

11.7
45
78
90
84
72

In [14]:
#range function
for n in range(7):
    print(n)

0
1
2
3
4
5
6

In [15]:
for v in range(5,12):
    print(v)

5
6
7
8
9
10
11

In [16]:
for g in range(-4,2):
    print(g)

-4
-3
-2
-1
0
1

In [17]:
for j in range(5,17,2):
    print(j)

5
7
9
11
13
15

In [18]:
# To print the multiplication table using loop

n=int(input('enter the number'))
for i in range(20):
    print(i,'*',n,'=',i*n)

enter the number2
0 * 2 = 0
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
11 * 2 = 22
12 * 2 = 24
13 * 2 = 26
14 * 2 = 28
15 * 2 = 30
16 * 2 = 32
17 * 2 = 34
18 * 2 = 36
19 * 2 = 38

In [19]:
#Grade system

COMPUTER=int(input('enter Computer marks:'))
PHYSICS=int(input('enter Physics marks:'))
CHEMISTRY=int(input('enter Chemistry marks:'))
MATHS=int(input('enter Maths marks:'))
tot=COMPUTER+PHYSICS+CHEMISTRY+MATHS
avg=tot/4
if(avg >=90 and avg<=100):
    print('distinction')
elif (avg>=80 and avg<90):
    print('A Grade')
elif (avg>=70 and avg<80):
    print('B Grade')
elif (avg>=60 and avg<70):
    print('C Grade')
elif (avg>=50 and avg<60):
    print('D Grade')
else:
    print('E Grade')

enter Computer marks:95
enter Physics marks:90
enter Chemistry marks:98
enter Maths marks:99
distinction

# DAY-12 (02-07-2023)

In [20]:
#Nested for loop
s=['Big','tasty']
f=['apple','pine apple']
for i in s:
    for j in f:
        print(i,j)

Big apple
Big pine apple
tasty apple
tasty pine apple

In [21]:
#write a program to print the following pattern
for i in range(7):
    for j in range(7):
        print('#',end=' ')
    print()

# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #

In [22]:
for i in range(1,6):
    print()
    for j in range(i):
        print('*',end=' ')

*
* *
* * *
* * * *
* * * * *

In [23]:
for i in range(1,6):
    print()
    for j in range(i):
        print(i,end=' ')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [24]:
for i in range(1,6):
    print('')
    for j in range(1,i+1):
        print(j,end=' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
in C language
for(i=0;1<10;i++)

In [25]:
#while loop in python - it will execute in sequential order
i=0 #initialize the start value as 0
while i<10: # condition
    print(i)
    i+=1 #increment(kinda step value)

0
1
2
3
4
5
6
7
8
9

# DAY-13(8-07-2023)

In [27]:
#python program to search for an element in the list of elements

li=[1,4,6,9,77,99,33]
search=int(input('enter the element to search:'))
for element in li:
    if search==element:
        print(search,'element is found')
        break
else:
   print(search,'element is not found')

enter the element to search:77
77 element is found

In [29]:
li=[1,4,6,9,77,99,33]
search=int(input('enter the element to search:'))
for element in li:
    if search==element:
        print(search,'element is found')
        
    else:
       print(search,'element is not found')

enter the element to search:77
77 element is not found
77 element is not found
77 element is not found
77 element is not found
77 element is found
77 element is not found
77 element is not found

In [30]:
#break
for i in range(10):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [31]:
#continue
for i in range (10):
    if i==7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9

In [32]:
# function in python

#print the 'HAVE A NICE DAY' using function
def greet():
    print('HAVE A NICE DAY')
greet()

HAVE A NICE DAY

In [33]:
#python program to find the sum of two numbers
#required argument
#argument=a,b
def add(a,b):
    print('the value is:',a+b)
add(50,70)
add(5,7)

the value is: 120
the value is: 12

In [34]:
#PEMDAS

In [42]:
#return function
def div(x,y):
    return x/y
print('the value is:',div(8,4))
print('the value is:',div(40,5))

the value is: 2.0
the value is: 8.0

In [43]:
#default argument

def bod(a,b,c=7):
    print('the value is:',a/5*a+b-c)
bod(50,7)
bod(50,7,9)

the value is: 500.0
the value is: 498.0

In [44]:
#convert a number to its equivalent word using python
num=int(input('enter a number:'))
def number_to_word(num):
    units=['zero','one','two','three','four','five','six','seven','eight','nine','ten','eleven','twelve','thirteen','fourteen','fifteen','sixteen','seventeen','eighteen','nineteen']
    tens=['','','twenty','thirty','fourty','fifty','sixty','seventy','eighty','ninety']
    if num<20:
        return units[num]
    elif num <100:
        return tens[num//10] + (''if num % 10==0 else' '+ units[num%10])
    elif num<1000:
        return units[num//100] + 'hundred' + ('' if num%100==0 else' ' + number_to_word(num%100))
    elif num<10000:
        return units[num//1000] + 'thousand' + ('' if num%1000==0 else' ' + number_to_word(num%1000))
    elif num<1000000:
        return number_to_word(num//1000) + 'thousand' + ('' if num%1000==0 else ' ' +number_to_word(num%1000))
    else:
        return'number out of range'
print(number_to_word(num))

enter a number:8323
eightthousand threehundred twenty three

# DAY - 14 JULY-9

In [47]:
#count vowels in a string using python string of vowels
vowels='aeiou'
#enter an input string
user_input=input('enter the string:')
#convert string in case insensitive
string=user_input.casefold()
#create a dictionary with each vowel a key and value 0
count_vowels={}.fromkeys(vowels, 0)
#count the number of each vowels
for x in string:
    if x in count_vowels:
        count_vowels[x]+= 1
print('total number of vowels -',count_vowels)

enter the string:LAVANYA SREE P
total number of vowels - {'a': 3, 'e': 2, 'i': 0, 'o': 0, 'u': 0}

# DAY-15 JULY-15

In [51]:
#RETURN FUNCTION

#return Expression

def arthmetic(a,b):
    return a+b/5
x=int(input('enter the number:'))
y=int(input('enter the number:'))
print('value of a and b is :',arthmetic(x,y))

enter the number:50
enter the number:70
value of a and b is : 64.0

In [52]:
#USING DEFAULT ARGUMENT
def div (x,y,z=70):
    return(x/y)+z
print('value is:',div(80,40))
print('value is:',div(30,10,50))

value is: 72.0
value is: 53.0

In [53]:
#KEYWORD ARGUMENT

def stud(name,degree,native):
    print(f'my name is {name},have completed {degree} and coming from {native}')
stud('Lavanya Sree','BSc AZB','Chennai')
stud('Radha','BSc Economics','Madhura')

my name is Lavanya Sree,have completed BSc AZB and coming from Chennai
my name is Radha,have completed BSc Economics and coming from Madhura

In [54]:
# using default argument

def stud(name,degree,native,salary=50000):
    print(f'my name is {name},have completed {degree} and coming from {native}')
    print('Im gettng salary of :',salary)
stud('Lavanya Sree','BSc AZB','Chennai',800000)
stud('Radha','BSc Economics','Madhura')

my name is Lavanya Sree,have completed BSc AZB and coming from Chennai
Im gettng salary of : 800000
my name is Radha,have completed BSc Economics and coming from Madhura
Im gettng salary of : 50000

In [55]:
#ARBITARY OR VARIABLE LENGTH ARGUMENT-*,**

def lang(*arg):
    print('I like to learn',arg)
lang('Bharatanatyam','carnativ music','Medical')

I like to learn ('Bharatanatyam', 'carnativ music', 'Medical')

In [56]:
# to make it in seperate statement
def lang(*arg):
    for x in arg:
        print('I like to learn',x)
lang('Bharatanatyam','carnativ music','Medical')

I like to learn Bharatanatyam
I like to learn carnativ music
I like to learn Medical

In [57]:
#Dic  IN FUNCTION AND LOOP


def student(**kargs):
    for key,value in kargs.items():
        print(key,value)
student(Name='Lavanya Sree',Degree='BSc AZB',Role='GOAT')

Name Lavanya Sree
Degree BSc AZB
Role GOAT

In [58]:
# to put symbols in between (use %s[s- denotes string] '%s == %s',%)   
    
def student(**kargs):
    for key,value in kargs.items():
        print('%s == %s'%(key,value))
student(Name='Lavanya Sree',Degree='BSc AZB',Role='GOAT')

Name == Lavanya Sree
Degree == BSc AZB
Role == GOAT

In [59]:
#A function test whether a number is even or odd
def even_odd(num):
    if num%2==0:
        print(num,'is a even number')

    else:
        print(num,'is a odd number')
even_odd(10)
even_odd(7)

10 is a even number
7 is a odd number

# DAY-16 JULY-16

In [61]:
def add (a,b):
    return a+b
print ('value is:',add (12,34))

value is: 46

In [ ]:
#LAMBDA FUNCTION
#syntax:
variable name=lambda arguments:expression
x=variable name only used

In [63]:
x=lambda a,b:a+b
print('value of a and b is:',x(55,77))
print('value of a and b is:',x(44,99))
print('value of a and b is:',x(88,66))

value of a and b is: 132
value of a and b is: 143
value of a and b is: 154

In [64]:
#FILTER
# find the odd or even number using lambda
list=[1,2,3,4,6,5,7,8,10,33,22,66,99]
even=tuple(filter(lambda x:x%2==0,list))
print('even number in the list',even)

even number in the list (2, 4, 6, 8, 10, 22, 66)

In [65]:
odd=set(filter(lambda x:x%2==1,list))
print('odd number in the list',odd)

odd number in the list {1, 33, 3, 99, 5, 7}

In [74]:
#MAP - to find square root
l=set(range(15))
print(l)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [76]:
#finding square of a number using map functiom

l=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
square=set(map(lambda a:a**2,l))
print('square os the list is',square)

square os the list is {0, 1, 64, 121, 4, 36, 100, 196, 9, 169, 16, 49, 81, 144, 25}

In [77]:
print(help(str))
print(help('keywords'))

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

In [78]:
# math module
print(help('math'))

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)


None

In [79]:
import math
print(math.sqrt(49))

7.0

In [80]:
from math import sqrt
print(sqrt (16))

4.0

In [81]:
#functools-module : only 2 values added but just like sum totally every number is added    

l=[1,2,3,4,5,6,7,8,9,10]
from functools import reduce
result=reduce(lambda x,y:x+y,l)
print('value is',result)

value is 55

# DAY-17  JULY-22

In [84]:
#RECURSIVE FUNCTION-call by itselffunction

#factorial- n*fact(n-1)
n=5
5*4*3*2*1==120

True

In [85]:
#find the factorial of a number using recursive function
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
x=int(input('enter the factor number:'))
print('factor of x is:',fact(x))

enter the factor number:7
factor of x is: 5040

In [86]:
import math as m
print('factorial of a number:',m.factorial(7))

factorial of a number: 5040

In [87]:
#CEIL AND FLOOR FUNCTION
print('ceil value is:',m.ceil(70.77))
print('floor valueis:',m.floor(70.77))

ceil value is: 71
floor valueis: 70

In [88]:
#REMAINDER
print('Remainder value is:',m.remainder(6,3))
print('Remainder value is:',m.remainder(7,3))

Remainder value is: 0.0
Remainder value is: 1.0

In [89]:
from math import*
#GCD-greatest commom divisor
print('GCD of a number:',gcd(24,12))

GCD of a number: 12

In [90]:
print('sum of value is:',fsum([1,2,3,4,5,6,7]) )

sum of value is: 28.0

In [91]:
from math import*

#TRIGNOMETRIC FFUNCTION
print('sine value is:',sin(0))
print('cos value is:',cos(0))
print('tan value is:',tan(0))
print('asine value is:',asin(0))

sine value is: 0.0
cos value is: 1.0
tan value is: 0.0
asine value is: 0.0

In [92]:
# CONSTANT FUNCTIONS
print('Not a Number:',nan)
print('infinity is:',inf)
print('Tau value is:',tau)
print('pi value is:',pi)
print('Euler value is:',e)

Not a Number: nan
infinity is: inf
Tau value is: 6.283185307179586
pi value is: 3.141592653589793
Euler value is: 2.718281828459045

In [93]:
import cmath
print(cmath.sqrt(85))

(9.219544457292887+0j)

In [94]:
#area of circle
r=int(input('enter the radius os the circle:'))
import math 
print('area of circle is:',math.pi*r**2)

enter the radius os the circle:7
area of circle is: 153.93804002589985

In [95]:
#circumference of the circle
r=int(input('enter the radius os the circle:'))
import math 
print('circumference of the circle:',2*math.pi*r)

enter the radius os the circle:7
circumference of the circle: 43.982297150257104

# DAY-18 JULY 23

In [97]:
#RANDOM MODULE
import random
ran=random.random()#ans in float
print('Random value is:',ran)

Random value is: 0.3346839237892345

In [98]:
#same random
random.seed(7)#random value will not get changed
ran=random.random()#ans in float
print('Random value is:',ran)

Random value is: 0.32383276483316237

In [99]:
import random
#random range
print(random.randrange(77))

print(random.randrange(5,77))

19
55

In [100]:
import random
#random in int

ran7=random.randint(5,50)
print(ran7)

ran5=random.randint(-70,-5)
print(ran5)

46
-64

In [ ]:
# import random
#random choice
Colours=['sky blue','pink','red','black','green']
print(random.choice(Colours))

In [109]:
import random
#shuffle set
lis=set(range(17))
print(lis)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}

In [108]:
lis=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
random.shuffle(lis)
print(lis)

[10, 5, 2, 9, 7, 4, 0, 12, 8, 11, 3, 14, 13, 16, 15, 1, 6]

# DAY-19 JULY-29

In [ ]:
#syntax:
open('File path name','Modes of operation')

In [1]:
f=open('D:\\python programming\\text.txt','r')
print(f.read())

File Handling

>>fie handling is an important part of any web application
>>python has a several functions for creating, reading, updating, and deleting files

# DAY-20 JULY-30

In [1]:
#FILE HANDLING

#\n- next time

print('Hello','Good Evening')

print('Hello','\nGood Evening','\nHave a Nice Day')

Hello Good Evening
Hello
Good Evening
Have a Nice Day

In [2]:
#\t- tab space

print('Hello','\tGood Evening','\tHave a Nice Day')

Hello 	Good Evening 	Have a Nice Day

In [1]:
#w- open a file and write

w=open('D:\\python programming\\w-text.txt','w')
print(w.write('w- used to write content in the file. for 1st time opening the file we can use w but to write again in the same file we should not use (w) instead use append-a'))
w.close()

159

In [2]:
#w- use a-append to use add new content in the alreary existing file, \n to print content in next line

w=open('D:\\python programming\\w-text.txt','a')
print(w.write('\nuse a-append to add new content in the alreary existing file .if we use w it will remove the content that is already existing in the file'))
w.close()

138

In [3]:
# r+ , w+ - both read & write operation

f=open('D:\\python programming\\r-text.txt','w+')
print(f.read())
print(f.write('\nboth r+ & w+ is used to read and write operation'))
f.close()

49

In [22]:
# How to read and write the CSV file (Common Seperated Value)
#excel is used in csv mode because it will menimise storage
f=open('D:\\python programming\\r.xls.csv','r')
print(f.read())

student data,,,,
"s,no",name,roll no,score,grade
1,Lavanya Sree,A216201,9.5,O
2,Anusuya,A216202,9.9,O
3,Meera,A216203,9.8,O
4,Monisha,A216204,9,O
5,Shalini,A216205,9,O
6,Rakshitha,A216206,8.5,D
7,Kavitha,A216207,9.4,O
8,Najim,A216208,8.8,D
9,Komathi,A216209,9.3,O
10,Madhu,A216210,9.9,O
11,Keerthi sri,A216211,9.7,O
12,Sharon,A216212,8.2,D
13,Sofia,A216213,9,O

# DAY-21 AUG-5

In [4]:
#importing the csv file

import csv
#Giving the column value in list
colum=['s.no','Name','Department','Rank']

#Creating the list for row values
rows=[1,'Anu','Bio Informatics','1'],[2,'Meera','Genetics','3'],[3,'Shalini','CS','5']
with open ('D:\\python programming\\w.xls.csv','w') as e:
    #Creating the csv file
    writer=csv.writer(e)
    #writing fields in the csv file
    writer.writerow(colum)
    #writing row values in the csv file
    writer.writerows(rows)

In [5]:
# copy content of 1 file to another file

with open ('D:\\python programming\\w-text.txt','r') as firstfile,open('D:\\python programming\\sec.txt','a') as secondfile:
#read content from first file
    for line in firstfile:
        #append content to second file
        secondfile.write(line)

In [4]:
#split file

with open ('D:\\python programming\\w-text.txt','r') as file:
    data=file.readlines()
    for line in data:
        word=line.split()
        print(word)

['w-', 'used', 'to', 'write', 'content', 'in', 'the', 'file.', 'for', '1st', 'time', 'opening', 'the', 'file', 'we', 'can', 'use', 'w', 'but', 'to', 'write', 'again', 'in', 'the', 'same', 'file', 'we', 'should', 'not', 'use', '(w)', 'instead', 'use', 'append-a']
['use', 'a-append', 'to', 'add', 'new', 'content', 'in', 'the', 'alreary', 'existing', 'file', '.if', 'we', 'use', 'w', 'it', 'will', 'remove', 'the', 'content', 'that', 'is', 'already', 'existing', 'in', 'the', 'file']

In [5]:
#calendar module

import calendar
print(calendar.calendar(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [6]:
# Month calendar
month=int(input('Enter the month:'))
year=int(input('Enter the year:'))
print(calendar.month(year,month))

Enter the month:3
Enter the year:2077
     March 2077
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [7]:
# Date Time module- we can access the day, month and year information

from datetime import*
dtm=datetime.now()
print(dtm)

2023-08-05 18:10:39.971930

In [8]:
# date time combine

d= date (2077,7,5)
t= time (17,5)
dt= datetime.combine(d,t)
print(dt)

2077-07-05 17:05:00

In [9]:
td=date.today()
print(td)


# Format the td and convert into string

string= td.strftime('%d,%b,%y')
print(string)

string=td.strftime('%D,%B,%Y')
print(string)

2023-08-05
05,Aug,23
08/05/23,August,2023

# DAY-22 AUG-6

In [2]:
# ModuleNotFoundError

import math

In [14]:
# AttributeError

tuple=(1,2,3,4,5)
tuple.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
li=[1,2,3,4,5]
li.append(7)
print(li)

[1, 2, 3, 4, 5, 7]

In [16]:
#ZeroDivisionError

x= int(input('Enter the number x:'))
y= int(input('Enter the number y:'))
print(x/y)

Enter the number x:3
Enter the number y:0

ZeroDivisionError: division by zero

In [17]:
# except - Error
try:
    x= int(input('Enter the number x:'))
    y= int(input('Enter the number y:'))
    print(x/y)
except:
    print('Error Occured')

Enter the number x:2
Enter the number y:0
Error Occured

In [6]:
try:
    x= int(input('Enter the number x:'))
    y= int(input('Enter the number y:'))
    print(x/y)
except ZeroDivisionError as z:
    print(z)

Enter the number x:70
Enter the number y:0
division by zero

In [7]:
#NameError  

try:
    x= int(input('Enter the number x:'))
    y= int(input('Enter the number y:'))
    print(x/a)
except NameError as n:
    print(n)

Enter the number x:70
Enter the number y:7
name 'a' is not defined

In [8]:
# How to handle multiple Error

try:
    x= int(input('Enter the number x:'))
    y= int(input('Enter the number y:'))
    print(x/y)
except ZeroDivisionError as z:
    print(z)
except NameError as n:
    print(n)

Enter the number x:70
Enter the number y:0
division by zero

In [9]:
try:
    x= int(input('Enter the number x:'))
    y= int(input('Enter the number y:'))
    print(x/a)
except ZeroDivisionError as z:
    print(z)
except NameError as n:
    print(n)

Enter the number x:70
Enter the number y:7
name 'a' is not defined

In [10]:
try:
    x= int(input('Enter the number x:'))
    y= int(input('Enter the number y:'))
    print(x/y)
except ZeroDivisionError as z:
    print(z)
except NameError as n:
    print(n)

Enter the number x:70
Enter the number y:7
10.0

In [11]:
# How to handle the error in the list

l=[12,3,45,56,78,7.5,90,78]
try:
    l.append(50)
    l.extend([70.77,99])
    print(l[5])
except IndexError as i:
    print(i)
else:
    print(len(l))
finally:
    print(l)
    print(l.count(78))

7.5
11
[12, 3, 45, 56, 78, 7.5, 90, 78, 50, 70.77, 99]
2

In [12]:
# How to handle the error in the list

l=[12,3,45,56,78,7.5,90,78]
try:
    l.append(50)
    l.extend([70.77,99])
    print(l[20])
except IndexError as i:
    print(i)
else:
    print(len(l))
finally:
    print(l)
    print(l.count(78))

list index out of range
[12, 3, 45, 56, 78, 7.5, 90, 78, 50, 70.77, 99]
2

In [13]:
# How to handle the error in file handling

try:
    with open('D:\\python programming\\w-text.txt','r') as f:
              print(f.read())
except IOError as o:
    print(o)

w- used to write content in the file. for 1st time opening the file we can use w but to write again in the same file we should not use (w) instead use append-a
use a-append to add new content in the alreary existing file .if we use w it will remove the content that is already existing in the file

In [14]:
try:
    with open('D:\\python programming\\G-text.txt','r') as f:
              print(f.read())
except IOError as o:
    print(o)

[Errno 2] No such file or directory: 'D:\\python programming\\G-text.txt'

In [15]:
# How to handle error in math module

import math
x=int(input('Enter the number x:'))
try:
    y=math.factorial(x)
    print('Factorial of the number x is:',y)
except ValueError as arg:
    print(arg)
except NameError as n:
    print(n)

Enter the number x:7
Factorial of the number x is: 5040

In [16]:
x=int(input('Enter the number x:'))
try:
    y=math.factorial(x)
    print('Factorial of the number x is:',y)
except ValueError as arg:
    print(arg)
except NameError as n:
    print(n)

Enter the number x:-7
factorial() not defined for negative values

In [17]:
x=int(input('Enter the number x:'))
try:
    y=math.factorial(x)
    print('Factorial of the number x is:',Y)
except ValueError as arg:
    print(arg)
except NameError as n:
    print(n)

Enter the number x:7
name 'Y' is not defined

In [18]:
# eval - Evaluate

x=eval(input('Enter the values:'))
print(x)

Enter the values:70+5/2
72.5

In [19]:
x=7
print(eval('x==7'))

True

In [20]:
# A python program to handle the syntax error given by eval() function

try:
    e=eval(input('Enter the value:'))
except SyntaxError:
    print('SyntaxError')
else:
    print('The value is',e)

Enter the value:5*8-45+190
The value is 185

In [21]:
try:
    e=eval(input('Enter the value:'))
except SyntaxError:
    print('SyntaxError')
else:
    print('The value is',e)

Enter the value:45 90,04.8-45/45
SyntaxError

In [7]:
# OS module - Operating system

import os

# mkdir - going to make the directory(Folder)

os.mkdir('D:\\Empty')

In [8]:
# getcwd - get the name of the current working directory

os.getcwd()

'C:\\Users\\ELCOT\\Desktop\\Python Anaconda'

In [9]:
# rmdir - its going to remove the directory

os.rmdir('D:\\Empty')

In [10]:
os.rename('D:\\python programming\\sec.txt','D:\\python programming\\ABC.txt')

In [11]:
os.remove('D:\\python programming\\ABC.txt')

# DAY-23 AUG-12

In [1]:
#OOPs - class is a key word. class is a collection of object

In [17]:
# Function in python

In [ ]:
def is a key word for function

In [2]:
# Function Program


def find_max(x,y,z):
    max_number = max(x,y,z)
    return max_number

maximum = find_max(56,78,90)
print('The maximum number is:',maximum)

The maximum number is: 90

In [3]:
# write a python function to find the max of three numbers

def max_of_two(a,b):
    if a>b:
        return a
    return b
def max_of_three(a,b,c):
    return max_of_two(a, max_of_two(b,c))
print(max_of_three(23,45,67))

67

In [4]:
# write a python function to sum all the numbers in a list.

def sum(numbers):
    total = 0
    for x in numbers:
        total+= x
    return total
print(sum((2,5,7,8,9,45,77)))

153

In [5]:

# write a python function that accepts a string and calculate the number of upper case letters
# and lower case letters

def string_test(s):
    d = {'UPPER_CASE':0, 'LOWER_CASE':0}
    for c in s:
        if c.isupper():
            d['UPPER_CASE']+=1
        elif c.islower():
            d['LOWER_CASE']+=1
        else:
            pass
    print ('original string:',s)
    print('No. of upper case characters : ',d['UPPER_CASE'])
    print('No. of lowere case characters : ',d['LOWER_CASE'])
    
string_test('Battle Through The Heaven')

original string: Battle Through The Heaven
No. of upper case characters :  4
No. of lowere case characters :  18

In [7]:
# write a python function to calculate the factorial of a number

def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *=i
    return result
print(factorial(7))

5040

In [8]:
# write a python function to check whether a given number is prime.


def is_prime(n):
    if n<2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n%i ==0:
            return False
    return True
print(is_prime(11))

True

In [9]:
# write a python fumction function to reverse a string

def reverse_string(s):
    return s[::-1]
print(reverse_string('ShinChan'))

nahCnihS

In [10]:
# write a python function to find the sum of all elementys in a list

def sum_list(l):
    total = 0
    for num in l:
        total += num
    return total
print (sum_list([12,34,56,78,90]))

270

In [11]:
# write a python function to count the number of vowels in a string

def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
print (count_vowels('Enter Backspace'))

5

In [12]:
# write a python function to sum all even number in a list

def sum_even_numbers(list):
    even_sum= 0
    for num in list:
        if num%2==0:
            even_sum += num
    return even_sum
print(sum_even_numbers([12,23,34,45,56,67,45,33,44,24,80]))

250

In [13]:
# write a function to remove vowels from the string

def remove_vowels(string):
    vowels = 'aeiouAEIOU'
    new_string = ''
    for char in string:
        if char.lower() not in vowels:
            new_string += char
    return new_string
print(remove_vowels('Apple is good for Health'))

ppl s gd fr Hlth

In [14]:
# filter long list

def filter_long_string(s):
    long_string = []
    for string in s:
        if len(string)>4:
            long_string.append(string)
    return long_string
print(filter_long_string(['bun','jam','Butter','Dynamite']))

['Butter', 'Dynamite']

In [16]:
# pic out the 2nd largest number

def second_largest(l):
    largest = None
    second_largest = None
    for num in l:
        if largest is None or num > largest:
            second_largest = largest
            largest = num
        elif second_largest is None or num>second_largest:
            second_largest = num
    return second_largest
print (second_largest([12,45,55,77]))

55

# DAY-24 AUG-13

In [1]:
# Create Empty class

class dress:
    pass

# d - object for class name dress
d=dress() 
d.dressname = 'Chudi'
d.dresscolour = 'Black'
d.dresssize = 'XL'

print('I want', d.dressname,'in ', d.dresscolour,'colour with size ',d.dresssize)

print(d.__dict__)

I want Chudi in  Black colour with size  XL
{'dressname': 'Chudi', 'dresscolour': 'Black', 'dresssize': 'XL'}

In [2]:
# how to declare variable inside the class

class phone:
    phonename = 'Samsung Galaxy'
    model = 'S21'
    colour = 'Black'
ph = phone()
print(f'I got a {ph.phonename} phone model {ph.model} in a {ph.colour} colour')

I got a Samsung Galaxy phone model S21 in a Black colour

In [3]:
# Method declaration

class fan:
    def __init__(self,group,fan):
        self.g=group
        self.f=fan
    def display (self):
        print(f'My fav k-pop group is {self.g}.And their fandom name is {self.f}')
f = fan('BTS','ARMY')
f.display()

My fav k-pop group is BTS.And their fandom name is ARMY

In [4]:
# Creating class and objects with methods

class dog:
    attr1 = 'Mammal'
    def __init__(self,name):
        self.n = name
    def speak(self):
        print('My dog name is {}'.format(self.n))
Bam = dog('Bam')
Tan = dog('Tan')
Bam.speak()
Tan.speak()

My dog name is Bam
My dog name is Tan

# DAY-25 AUG-19

In [2]:
# sum of two no:

class add:
    #Method Declaration
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def display (self):
        print(f'sum of {self.x} and {self.y} is {self.x+self.y}')
x=int(input('Enter the number x:'))
y=int(input('Enter the number y:'))
ad=add(x,y)
ad.display()

Enter the number x:5
Enter the number y:7
sum of 5 and 7 is 12

In [ ]:
# class div:
    #Method Declaration
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def display (self):
        print(f'sum of {self.x} and {self.y} is {self.x /self.y}')
x=int(input('Enter the number x:'))
y=int(input('Enter the number y:'))
ad=div(x,y)
ad.display()

# INHERITANCE

# Single Inheritance

In [3]:
class parent:
    def __init__(self,Fname,Mname):
        self.F = Fname
        self.M = Mname
    def show (self):
        print(f'My Father name is {self.F}, and my Mother name is {self.M}')

class child(parent):
    def __init__(self,Fname,Mname,Dname):
        self.F = Fname
        self.M = Mname
        self.D = Dname
    def display(self):
        print(f'My name is {self.D} My Father name is {self.F}, and Mother name is {self.M}')
ch=child('Rajan','Vijey Lakshmi','Lavanya Sree')
ch.display()

My name is Lavanya Sree My Father name is Rajan, and Mother name is Vijey Lakshmi

# Multiple Inheritance

In [4]:
class parent1:
    def method1(self):
        print ('This is parent class 1')
class parent2:
    def method2(self):
        print('This is parent class 2')
class child (parent1,parent2):
    def method3(self):
        print ('This is child class inherited from parent1 and parent2')

ch = child()
ch.method1()
ch.method2()
ch.method3()

This is parent class 1
This is parent class 2
This is child class inherited from parent1 and parent2

# DAY - 26 AUG-26

# MULTIPLE INHERITANCE

In [1]:
class parent():
    def __init__(self,gname):
        self.gn=gname
class child1(parent):
    def __init__(self,fname):
        self.fn=fname

class child2 (child1):
    def __init__(self,sname,fname,gname):
        self.gn=gname
        self.fn=fname
        self.sn=sname
    def display (self):
        print (f'My Grand Father name is {self.gn}, My Father name is {self.fn}, And My name is {self.sn}')
ch=child2('Vinayak','Krishna','Shiva')
ch.display()

My Grand Father name is Shiva, My Father name is Krishna, And My name is Vinayak

In [2]:
class parent:
    def func1(self):
        print('This function is in parent class.')

class child1 (parent):
    def func2(self):
        print('This function is in child class 1.')

class child2 (parent):
    def func3(self):
        print('This function is in child class 2.')


ch1=child1()
ch2=child2()
ch1.func1()
ch1.func2()
ch2.func1()
ch2.func3()

This function is in parent class.
This function is in child class 1.
This function is in parent class.
This function is in child class 2.

In [3]:
class parent:
    def func1(self):
        print('This function is in parent class.')

class child1 (parent):
    def func2(self):
        print('This function is in child class 1.')

class child2 (child1):
    def func3(self):
        print('This function is in child class 2.')


ch1=child1()
ch2=child2()
ch1.func1()
ch1.func2()
ch2.func1()
ch2.func3()
ch2.func2()

This function is in parent class.
This function is in child class 1.
This function is in parent class.
This function is in child class 2.
This function is in child class 1.

# HIERARCHIAL INHERITANCE

In [4]:
class worker():
    def __init__ (self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary


class worker1(worker):
    def  __init__ (self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary


class worker2(worker1):
    def  __init__ (self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
w1 = worker('Lavanya Sree',20,50000)
w2 = worker ('Anusuya',23,520000)

print(w1.name)
print(w2.salary)

print(f'My name is {w1.name}, {w1.age} years old, My salary is {w1.salary}')

print(f'My name is {w2.name}, {w2.age} years old, My salary is {w2.salary}')

Lavanya Sree
520000
My name is Lavanya Sree, 20 years old, My salary is 50000
My name is Anusuya, 23 years old, My salary is 520000

# HYBRID INHERITANCE

In [5]:
class Arith:
    def __init__ (self,a,b):
        self.a = a
        self.b = b
class cal1 (Arith):
    def add (self):
        return self.a+self.b
class cal2 (cal1):
    def sub (self):
        return self.a-self.b
class cal3 (cal2):
    def mul (self):
        return self.a*self.b
class cal4 (cal3):
    def div (self):
        return self.a/self.b
a=int(input('Enter the number a:'))
b=int(input('Enter the number b:'))
cal=cal4(a,b)

print(f'Addition of a & b is {cal.add()}')
print(f'Subtraction of a & b is {cal.sub()}')
print(f'Multiplication of a & b is {cal.mul()}')
print(f'division of a & b is {cal.div()}')

Enter the number a:70
Enter the number b:7
Addition of a & b is 77
Subtraction of a & b is 63
Multiplication of a & b is 490
division of a & b is 10.0

In [6]:
class school:
    def func1(self):
        print('This function is in school.')
class student1(school):
    def func2(self):
        print('This function is mainly for student1.')
class student2(student1):
    def func3(self):
        print('This function is mainly for student2.')
class student3(student2):
    def func4(self):
        print('This function is mainly for student3.')


st=student3()
st.func1()
st.func3()
st.func2()
st.func4()

This function is in school.
This function is mainly for student2.
This function is mainly for student1.
This function is mainly for student3.

# DAY-27 AUG-27

# POLYMORPHISM

In [1]:
class India:
    def Capital(self):
        print('New Delhi is the capital city of India')
    def Language(self):
        print('Hindi is the National Language of India')
    def Type(self):
        print('India is The Developing Country')
class USA:
    def Capital(self):
        print('Washington is the Capital city of USA')
    def Language(self):
        print('English is the commonly used Language')
    def Type(self):
        print('USA is Developed Country')
Ind = India()
USA =USA()
for country in (Ind,USA):
    country.Capital()
    country.Language()
    country.Type()

New Delhi is the capital city of India
Hindi is the National Language of India
India is The Developing Country
Washington is the Capital city of USA
English is the commonly used Language
USA is Developed Country

# ENCAPSULATION(HIDE THE INFO - INTERNAL FUNCNALITY)

In [2]:
class Bank:
    def __init__(self,name,Accno,salary):
        self.n = name
        self.acc = Accno
        self.salary = salary
    def display(self):
        print(f'My name is {self.n} am getting salary of {self.salary}, and My Account no is {self.acc}')
B = Bank('Lavanya Sree',1234567891007,70000)
B.display()

My name is Lavanya Sree am getting salary of 70000, and My Account no is 1234567891007

In [3]:
# HIDE .__

class Bank:
    def __init__(self,name,Accno,salary):
        self.n = name
        self.__acc = Accno # HIDE INFO NY .__
        self.salary = salary
    def display(self):
        print(f'My name is {self.n} am getting salary of {self.salary}')
        print(f'My Account no is {self.acc}')
B = Bank('Lavanya Sree',1234567891007,70000)
B.display()

My name is Lavanya Sree am getting salary of 70000

AttributeError: 'Bank' object has no attribute 'acc'

#  ABSTRACTION - ABC - Abstract Bsae Class

In [3]:
from abc import ABC, abstractmethod
class car (ABC):
    def mileage(self):
        pass
class Hyundai(car):
    def mileage(self):
        print('Hyundai gives the mileage of 27 kmpl')
class BMW(car):
    def mileage(self):
        print('BMW gives the mileage of 25 kmpl')
H = Hyundai()
H.mileage()

B = BMW()
B.mileage()

Hyundai gives the mileage of 27 kmpl
BMW gives the mileage of 25 kmpl

In [ ]:
# SUBCLASS

class parent:
    def mother(self):
        print('My Mother name is: Vijey Lakshmi')
class child(parent):
    def son (self):
        print('Son name is : Danoj Kumar')
issubclass(child,parent)

True

In [ ]:
class parent:
    def mother(self):
        print('My Mother name is: Vijey Lakshmi')
class child():
    def son (self):
        print('Son name is : Danoj Kumar')
issubclass(child,parent)

False

# DAY - 28 SEP - 2

In [ ]:
# program to illustrate class variable to keep count of number of object created

class sample:
    num = 0 # initialize the value as 0
    def __init__(self,vrbls):
        sample.num +=1
        self.vrbls = vrbls
        print('The object value is:',self.vrbls)
        print('The count of object created is:',self.num)
v1 = sample(5)
v2 = sample(7)
v3 = sample(77)

The object value is: 5
The count of object created is: 1
The object value is: 7
The count of object created is: 2
The object value is: 77
The count of object created is: 3

In [ ]:
# CONSTRUCTOR & DESTRUCTOR IN OOPS


class icecream:

    # CONSTRUCTOR
    def __init__(self,flavour):
        print('Inside Constructor')
        self.flavour = flavour
        print('Object Initialized')
    def show(self):
        print(f'I want {self.flavour} icecream')



    # DESTRUCTOR   
    def __del__(self):
        print('Inside Destructor')
        print('Object Destroyed')
# create object
f1 = icecream('Vennila falvour')
f1.show()
# destroy object
del f1
f2 = icecream('Chocolate falvour')
f2.show()
f1.show()

Inside Constructor
Object Initialized
I want Vennila falvour icecream
Inside Destructor
Object Destroyed
Inside Constructor
Object Initialized
I want Chocolate falvour icecream

NameError: name 'f1' is not defined

In [ ]:
class calculation:
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def add(self):
        return self.a+self.b
a=int(input('Enter the number a:'))
b=int(input('Enter the number y:'))
cal=calculation(a,b)
print(cal.add())
print(cal+cal)

Enter the number a:23
Enter the number y:34
57

TypeError: unsupported operand type(s) for +: 'calculation' and 'calculation'

In [ ]:
# OPERATOR OVERLOADING

class calculation:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def __add__(self,other):
        return self.x+other.y
x=int(input('Rnter the number x:'))
y=int(input('Enter the number y:'))
cal=calculation(x,y)
print('The Addition of x and y is:',cal+cal)
print('The Multiplication of x and y is:',cal.x*cal.y)
print('The division of x and y is:',cal.x/cal.y)
print('The Modulus of x and y is:',cal.x%cal.y)

Rnter the number x:70
Enter the number y:5
The Addition of x and y is: 75
The Multiplication of x and y is: 350
The division of x and y is: 14.0
The Modulus of x and y is: 0

In [ ]:
class car:
    def __init__(self,make,model):
        self.make= make
        self.model= model
    def start(self):
        print(f'The {self.make} {self.model} is starting.')
    def stop(self):
        print(f'The {self.make} {self.model} is stopping.')


class ElectricCar(car):
    def __init__(self,make,model,battery_capacity):
        super().__init__(make, model)
        self.battery_capacity = battery_capacity
    def start(self):
        print(f'The {self.make} {self.model} is starting.')
    def display_battery_capacity(self):
        print(f'The battery capacity of {self.make} {self.model} is {self.battery_capacity}.')
my_car = car('BMW','k7')
my_car.start()
my_car.stop()

my_electric_car = ElectricCar('Hyundai','Jk26',100)
my_electric_car.start()
my_electric_car.stop()
my_electric_car.display_battery_capacity()

The BMW k7 is starting.
The BMW k7 is stopping.
The Hyundai Jk26 is starting.
The Hyundai Jk26 is stopping.
The battery capacity of Hyundai Jk26 is 100.

In [ ]:
class BankAccount:
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance

    def deposit(self,amount):
        self.balance += amount
        print(f'{amount} deposited in your account. New balance: {self.balance}')
    def withdraw (self, amount):
        if self.balance >= amount:
            self.balance -= amount
            print(f'{amount} withdraw from your account. New balance: {self.balance}')
        else:
            print('Insufficient funds.')
    def display_balance(self):
        print(f'Your current balance is: {self.balance}')
# CREATE AN OBJECT OF THE BANK ACCOUNT CLASS

account = BankAccount('LS',150000)

# DEPOSIT 5000 IN THE ACCCOUNT
account.deposit(5000)

# WITHDREAW 500 FROPM THE ACCOUNT
account.withdraw(500)

# DISPLAY THE CURRENT BALANCE
account.display_balance()

5000 deposited in your account. New balance: 155000
500 withdraw from your account. New balance: 154500
Your current balance is: 154500

# DAY =29 SEP -3

In [ ]:
# A PYTHON PROGRAM TO CREATE A STATIC METHOD THAT CALCULATION THE SQUARE ROOT OF A GIVEN NUMBER

import math

class square:
    # Static method declaration
    def calculation(x):
        result=math.sqrt(x)
        return result
# Accept a number from keyboard
num= float(input('Enter the number:'))
sq=square.calculation(num)
print(f'square root of {num} is {sq:.2f}')

Enter the number:49
square root of 49.0 is 7.00

In [ ]:
# A python program to access base class construct and method in the sub class using super().
# super(). = Value Inherited


class square:
    def __init__(self,x):
        self.x=x
    def area (self):
        print('Area of square is=',self.x*self.x)
class rectangle(square):
    def __init__(self,x,y):
        super().__init__(x)
        self.y=y
    def area(self):
        super().area()
        print('Area of Rectangle is=',self.x*self.y)
a,b=[float(x) for x in input('Enter TWO measures:').split()]
r=rectangle(a,b)
r.area()

Enter TWO measures:5 7
Area of square is= 25.0
Area of Rectangle is= 35.0

In [ ]:
# A python program to overload greater that(>) operator to make it act on class objects
#gt-(>), lt-(<)

class Ramayan:
    def __init__(self,pages):
        self.pg = pages
    def __gt__(self,other):
        return self.pg>other.pg

class Mahabharat:
    def __init__(self,pages):
        self.pg=pages
Ram = Ramayan(1200)
Mah = Mahabharat(2000)

if (Ram>Mah):
    print('Ramayan has more pages')
else:
    print('Mahabharat has more pages')

Mahabharat has more pages

# DAY -30  SEP- 9

In [ ]:
# REULAR EXPRESSION

import re

# SEARCH

str='Apple Mango Pappya'
s= re.search(r'Mango',str)
print(s)
if s:
    print(s.group())

<re.Match object; span=(6, 11), match='Mango'>
Mango

In [ ]:
# START OF STRiNG(^) - REGULAR EXPRESSION 
str='Straive company looks good'
y=re.search(r'^Straive',str)

if y:
    print(y,"\n Starts with 'Straive'")
else:
    print(y,"\n Does not starts with 'Straive'")

<re.Match object; span=(0, 7), match='Straive'> Starts with 'Straive'

In [ ]:
str='Straive company looks good'
y=re.search(r'^StraivE',str)

if y:
    print(y,"\n Starts with 'Straive'")
else:
    print(y,"\n Does not starts with 'Straive'")

None Does not starts with 'Straive'

In [ ]:
# END OF STRING($) - REGULAR RXPRESSION

str='Straive company looks good'
y=re.search(r'good$',str)

if y:
    print(y,"\n Ends with 'good'")
else:
    print(y,"\n Does not Ends with 'good'")

<re.Match object; span=(22, 26), match='good'> Ends with 'good'

In [ ]:
# SEARCH USING IGNORECASE METHOD

str='Malabar Gold & Diamonds'
igr=re.search(r'^malabar',str,re.IGNORECASE)
if igr:
    print(igr,"\n str starts with 'Malabar'")
else:
    print(igr,"\n str does not starts with 'Malabar'")

<re.Match object; span=(0, 7), match='Malabar'>
 str starts with 'Malabar'

In [ ]:
# A python program to create a regular expression to retrive marks and names from a given string
# {2} - number occurence
#\d- decimal, \n - newe line, \r - read
# findall- brings particular charecters

str='Jk got 85 points, Jin got 84 points and the winner of the game is V he got 98 points'
points=re.findall('\d{2}',str)
print(points)


names=re.findall('[A-Z][a-z]*',str)
print(names)

['85', '84', '98']
['Jk', 'Jin', 'V']

In [ ]:
str='The programm will be held on Dec 7th at 5pm or 6pm or 8PM or 8AM'
t=re.findall(r'\dpm | \dAM',str)
print(t)

['5pm ', '6pm ', ' 8AM']

# DAY - 31 SEP - 10

In [ ]:
# REGULAR EXPRESSION

# r - RAW INPUT
import re
s= 'English Tamil'
r=re.findall(r'^En',s)
print(r)

['En']

In [ ]:
s= 'English Tamil'
r=re.findall(r'^EN',s)
print(r)

[]

In [ ]:
s= 'English Tamil'
r=re.findall(r'^En',s)
if r:
    print("The string starts with 'En'")
else:
    print("The string does not starts with 'En'")

The string starts with 'En'

In [ ]:
s= 'English Tamil'
r=re.findall(r'l$',s)
if r:
    print("The ends starts with 'l'")
else:
    print("The string does not ends with 'l'")

The ends starts with 'l'

In [ ]:
# A python program to create a regular expression to search whether a given string is ending with particular word or not

s='Hair oil'
r=re.search(r'oil',s)
if r:
    print(r,"\n The particular string is Available")
else:
    print(" The particular string id Not Available")

<re.Match object; span=(5, 8), match='oil'>
 The particular string is Available

In [ ]:
# \b - REPRESENTS THE BEGINING AND ENDING OF THE STRING
pattern=re.compile(r'\b\w{5}\b')
r=pattern.findall('Apple,Mango,Watermelon,Grape')
print(r)

['Apple', 'Mango', 'Grape']

In [ ]:
pattern=re.compile(r'\b\w{5}\b')
r=pattern.findall('Apple,Mango,Water melon,Grape')
print(r)

['Apple', 'Mango', 'Water', 'melon', 'Grape']

In [ ]:
pattern=re.compile(r'\b\w{10}\b')
r=pattern.findall('Apple,Mango,Watermelon,Grape')
print(r)

['Watermelon']

In [ ]:
# A python program to create a regular expression to search at the ending a string by ignoring the case

from re import*

s='Dates Almonds'
r=search(r'almonDs$',s,IGNORECASE)
if r:
    print(r,"\n string ends with 'Almonds'")
else:
    print(r,"\n string does ends with 'Almonds'")

<re.Match object; span=(6, 13), match='Almonds'>
 string ends with 'Almonds'

In [ ]:
# Python program to creat a regex that reads - Email id's from a text file
import re

fs=open('D:\\python programming\\Regex.txt','r')
for line in fs:
    rs=re.search(r'\s+@\s.+',line)
    print(rs)
fs.close()

None
None
None

In [ ]:
# Python program to create a regular expression to replace a string with a new string

import re
s='My mother tongue is Malayalam'
r=re.sub(r'Malayalam','Telugu',s)
print(r)

My mother tongue is Telugu

In [ ]:
print(re.search("Biscut","Oreo Biscuts taste better than Good day Biscut"))
print(re.match("Biscut","Biscuts taste's good"))
print(re.findall("Biscut","Oreo Biscuts taste better than Good day Biscut"))
for match in re.finditer("Biscut","Oreo Biscuts taste better than Good day Biscut"):
    print(match)

<re.Match object; span=(5, 11), match='Biscut'>
<re.Match object; span=(0, 6), match='Biscut'>
['Biscut', 'Biscut']
<re.Match object; span=(5, 11), match='Biscut'>
<re.Match object; span=(40, 46), match='Biscut'>

In [ ]:
# DISPLAY RAW STRING
# \t - tab space , \n - new line 

print("\t Look at there.there is a \n SQUIRREL")
print(r"\t Look at there.there is a \n SQUIRREL")

	 Look at there.there is a
 SQUIRREL
\t Look at there.there is a \n SQUIRREL